<h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>About</h2>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">
    Hello! My name is <b>Tyler</b>. I am a manager && software engineer. 
</p>

<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">
    From a young age I have always carred about people around me. They could be family, friends, neighbors, or someone I do not know at all. 
    Learning, understanding, and strenghtening my <b>compassion</b> and <b>empathy</b> has guided me throughout my life. It has pushed me to be a better person and to lend a helping hand whenever I can. 
    I do my best to be a voice for those who are unheard. 
</p>

<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}"> 
    I started my career as a software engineer working with a wide range of technologies. Some include Groovy, Grails, Angular, Node, Java, Spring Boot, and more. 
    Through my career journey I always found myself coming back to wanting to help others achieve their tasks and unblock them whenever I could. 
</p>

<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}"> 
    This lead me to take a management track. My philiosphy is that whomever is in a leadership position should play support for individual contributors and others at all times. 
    Leaders should elevate their team members whenever they can. They should also employ <b>compassion</b> and <b>empathy</b> is all situations. 
</p>